.HelpCenterQuestion{
    width: 317px;
    height: 374px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #000;
    font-size: 20px;
    padding: 24px 24px 48px 24px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 16px;
        li{
            list-style: disc;
            margin-left: 20px;
        }
        li:hover{
            cursor: pointer;
            text-decoration: underline;
        }
        margin: 16px 0px 24px 0px;
    }
    .title{
        font-size: 28px;
        font-weight: 600;
    }
    .fullarticle{
        color: #503ED8;
        font-size: 16px;
    }
}