.MyClasses{
    text-align: left;
    margin: 80px 436px 100px 460px;
    .Top{
        margin-bottom: 24px;
        .Title{
            font-size: 28px;
            font-weight: 600;
        }
        .Category{
            display: flex;
            gap: 75px;
            padding-left: 60px;
            margin-top: 8px;
            border-bottom: 1px solid;
            .element{
                font-size: 16px;
                font-weight: 600;
                border-bottom: 6px solid #503ED8;
                padding: 16px 0px 16px 0px;
                transition: 0.2s;
            }
            .element:hover{
                background-color: rgb(223, 223, 223);
                cursor: pointer;
            }
        }
    }
    .Body{
        padding: 0px;
        .MyLearningPaths{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 24px;
            display: none;
        }
        .WatchHistory{
            .top{
                .title{
                        margin-bottom: 16px;
                        display: flex;
                        gap: 496px;
                        font-size: 14px;
                        font-weight: 600;
                }
                .length-status{
                    .cate{
                        display: flex;
                        gap: 80px;
                        margin-bottom: 24px;
                        .element{
                            .borderBox{
                                border-radius: 4px;
                                border: 1px solid;
                                background: #FFF;
                                margin-right: 16px;
                            }
                            .borderBox-seperate{
                                margin: 0px 16px 0px 70px;
                            }
                        }
                    }
                }
                .skills{
                    .cusButton{
                        padding: 4.636px 18.542px;
                        background-color: white;
                        border-radius: 3.09px;
                        border: 1px solid;
                        font-weight: 600;
                        font-size: 12.362px;
                    }
                }
            }
        }
    }
}