.layout4-container {
    width: 1000px;
    margin: auto;
    text-align: left;

    .title {
        font-size: 26px;
        font-weight: 600;

    }

    .button {
        margin-right: 16px;
    }
}