.layout4-container {
    width: 1000px;
    margin: auto;
    text-align: left;
    
    .title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 32px;
    }  
     
    .row {
        margin-bottom: 48px;
    
        .button {
            margin-right: 16px;
        }
    }

}