.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #E7E7E7;
    height: 80px;
    align-items: center;

    .left {
        display: flex;

        .logo {
            margin: 0px 24px 0px 24px;
        }

        .btn {
            margin: 0px 16px 0px 16px;
            background-color: #E7E7E7;
        }

        .search {
            width: 448px;
            margin: 0px 16px 0px 16px;
            background-color: #E7E7E7;
        }
    }
    
    .right {
        display: flex;

        .btn-text {
            height: 40px;
            line-height: 40px;
            margin-right: 30px;
            font-size: 18px;
            font-weight: 600;

            &:hover {
                color: #1877f2;
                cursor: pointer;
            }
        }

        .avatar {
            margin: 0px 24px 0px 24px;
        }
    }
}