.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #E7E7E7;
    height: 80px;
    align-items: center;

    .left {
        display: flex;

        .btn {
            margin-left: 20px;
            background-color: #E7E7E7;
        }
    }
    
    .right {
        display: flex;
    }
}