/* For Login Form*/

.LoginForm{
    padding-top: 40px;
    padding-bottom: 90px;

    font-size: 14px;
    align-items: center;
    text-align: center;

    
    height: 460px;
    width: 341px;
    border-radius: 24px;
    flex-shrink: 0;
    background: #D9D9D9;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;

    a{
        font-size: 16px;
        color: inherit;
        :hover{
            color: #686868;
        }
    }
}
h4{
    font-size: 22px;
}

.singin-infor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signin-box{
    width: 293px;
    height: 49px;
    flex-shrink: 0; 

    border-radius: 4px;
    border: 1px solid #000;
}

.signin-button{
    background: #4E4E4E;
    color: white;
    transition: .2s;
    font-size: 18px;

}
.signin-button:hover{
    cursor: pointer;
    background: #000000;
    color: rgb(255, 255, 255);
}

::placeholder{
    color: #8B8989;
}

.signin-input{
    padding: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.line{
    width: 293px;
    height: 1px;
    background-color: #000;
}
