.Card {

    height: 400px;
    width: 232px;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .upper {
        width: 100%;
        height: 200px;
        .image {
            width: 100%;
            object-fit: cover;
        }
    }

    .bottom {
        height: 200px;
        background-color: #ACACAC;
        text-align: left;
        padding: 0px 28px 0px 16px;

        .time {
            padding: 10px 0px;
            margin: 0;
        }

        .title {
            width: 188px;
            height: 70px;
            font-size: 18px;
            font-weight: 600;
            margin: 4px 0px 16px 0px;
            overflow: hidden;
        }

        .info1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            font-size: 15px; 
            .star {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .info2 {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .cur-price {
                font-size: 26px;
                font-weight: 700;
            }

            .def-price {
                line-height: 32px;
                font-weight: 600;
                color: #707070;
                text-decoration: line-through;
            }

            .viewer {
                font-size: 14px;
            }
        }
    }
}