@mixin size {
    width: 50%;
    height: 100%;
}

.card-horizontal {
    width: 488px;
    height: 162px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;

    .left {
        @include size();

        img {
            width: 100%;
            object-fit: over;
        }
    }

    .right {
        @include size();
        background-color: #D9D9D9;
        position: relative;

        .lession {
            font-size: 16px;
            line-height: 19.2px;
            font-weight: 500;
        }

        .title {

        }

        .instructor {
            position: absolute;
            bottom: 8px;
        }
    }
}